<%= form_for @post do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :content %>
<%= f.text_field :content %>

<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b|%>
<p>  <%= b.label %>
  <%= b.check_box %>
</p>
<% end %>

<%= f.fields_for :categories, Category.new do |category_builder| %>
  <%= category_builder.text_field :name %>
<% end %>

<%= f.submit %>
<% end %>
